* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    width: 100%;
    height: 100%;
} */

.container {
    /* border: 2px solid black; */
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 10px;


}

.card {
    /* border: 2px solid crimson; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    border-radius: 5px;
    width: 330px;
    height: 270px;
    margin-bottom: 30px;
}

.image {
    height: 50%;
    background-color: #262525;


}

.image img {
    height: 100%;
    margin: auto;
    display: block;
    max-width: 100%;

}

.content-div {
    /* border: 2px solid violet; */
    height: 135px;
    padding: 9px;
}



.title {
    /* border: 2px solid greenyellow; */
    font-family: Roboto, Helvetica, sans-serif;
    color: #002F34;
    line-height: 16px;
    font-weight: 100;
    width: 90%;
    height: 60px;
}



.price {
    /* border:2px solid peru; */
    font-family: Roboto, Helvetica, sans-serif;
    line-height: 32px;
    font-weight: 700;
    font-size: 25px;
    height: 30px;

}

.area {
    /* border: 2px solid darkorange; */
    margin-top: 10px;

}

.heart-icon {
    /* border: 2px solid firebrick; */
    height: 30px;
    width: 10%;
    float: right;
    margin-top: -65px;
    margin-left: 20px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media (min-width: 800px) {


    .card {

        width: 31%;
        margin-bottom: 30px;
        height: 295px;
    }
}


@media (min-width: 500px) and (max-width: 799px) {
    .card {
        width: 47%;
        margin-left: 11px;
        height: 295px;
    }
}